.main-page-main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5f5f5;
}

.main-page-main h1 {
  font-weight: bold;
  font-size: 40px;
  color: #001338;
}


#top p {
  color: #515B6f;
}

#content {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 80%;
  margin: 20px auto;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #f5f5f5;
  height:500px;

}
#imagen{
  height:500px;
  width:500px;
}
#top {
  width: 80%;
  margin: 20px auto;
  background: #f5f5f5;
  border-radius: 8px;

}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.placeholder {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #container {max-width: fit-content}
}
@media only screen and (max-width: 1280px){
  #container {max-width: fit-content}
}
